[submodule "themes/starter-hugo-academic"]
	path = themes/starter-hugo-academic
	url = https://github.com/wowchemy/starter-hugo-academic
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console
